@keyframes blink {
    100% {
      box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
        0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
    }
}

.doorFrame {
    height: 15em;
    width: 8em;
    color: #e1b382;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background: black;
    margin: 1em 2em;
    transition: all 0.2s ease-in;
}

.selectable {
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
            0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
        animation: blink 0.7s infinite alternate;
    }
}

.selected {
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px rgb(255, 204, 0), 0 0 30px rgb(255, 204, 0),
        0 0 40px rgb(255, 102, 0), 0 0 50px rgb(255, 102, 0);
    animation: blink 0.7s infinite alternate;
}

.door {
    background: linear-gradient(#2d545e, #12343b);
    height: 100%;
    width: 100%;
    position: relative;
    transform-origin: left;
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    &.open {
        transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-110deg);
    }
}

.questionMark {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: sans;
    color: #e1b382;
    font-size: 4em;
    opacity: 1;
    transition: opacity 0.75s linear;

    .open & {
        opacity: 0;
    }
}

.price {
    position: absolute;
    font-size: 6em;
}